h2{
    color: maroon;
    text-align: center;
}
h3{
    color: maroon;
    text-align: center;
}

.container
{
    margin: 30px 35%;
    text-align: center;
    background-color: antiquewhite;
    padding: 20px 0px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px;
}
input
{
    padding: 2px 40px;
    border-radius: 8px;
}

button
{
    border-radius: 6px;
    background-color: rgb(245, 210, 157);
 
}
button:hover
{
    background-color: green;
    color: white
}

.book{
    text-align: center;
    color: maroon;
}
